<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>1 Min Of You</title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}?20181213">
    </head>
    <header>
        <!--Navbar block-->  
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}  
    </header>
    <body>
        {% block content%}
        
        {%endblock%}
    </body>