<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h1 class="card-title">1 Min Of You</h1>
      <p class="card-text">A platform that allows you to voice your pitches.Whether it is a pick up line,a sales pitch or product promotion,get typing and get seen!</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>